# List

In [35]:
even=[2,4,6,8,10]

In [36]:
odd=[1,3,5,7,9]

### append

In [37]:
even.append(12)

In [38]:
even

[2, 4, 6, 8, 10, 12]

In [39]:
number=[2,4,6,8,10]

### extend

In [40]:
number.extend(odd)

In [41]:
number

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [42]:
even.append(odd)

In [43]:
even

[2, 4, 6, 8, 10, 12, [1, 3, 5, 7, 9]]

### list of lists

In [55]:
a=[[2,4,6,8],[1,3,5,7]]

In [56]:
a

[[2, 4, 6, 8], [1, 3, 5, 7]]

In [57]:
type(a)

list

#### reassigning

In [59]:
a[1][:]=[3,5,7,9]

In [60]:
a

[[2, 4, 6, 8], [3, 5, 7, 9]]

### list of tuples

In [48]:
b=[(1,2),(3,4)]

In [52]:
b[0][0]=5

TypeError: 'tuple' object does not support item assignment

### delete a list

In [53]:
del a  # delete entire list

In [54]:
a

NameError: name 'a' is not defined

In [62]:
del b[0]  # delete a few elements

In [63]:
b

[(3, 4)]

### membership

In [65]:
a

[[2, 4, 6, 8], [3, 5, 7, 9]]

In [67]:
3

3

In [68]:
[2,4,6,8] in a

True

### max & min

In [70]:
max(number)

10

In [71]:
min(number)

1

### sum

In [72]:
sum(number)

55

### sorted

In [1]:
a=[6,1,2,8,3,1]

In [2]:
sorted(a)

[1, 1, 2, 3, 6, 8]

In [75]:
a

[6, 1, 2, 8, 3, 1]

### maximum frequency in a list

In [8]:
bills=[1000,1500,1000,2000,1500,1000,1000,1500]

In [9]:
max(bills)

2000

In [81]:
max(bills, key=bills.count)

1000

### convert a string into list

In [7]:
even_string='2468'
type(even_string)

str

In [86]:
even=list(even_string)

In [87]:
even

['2', '4', '6', '8']

### convert a tuple into list

In [88]:
a=(0,255,0)

In [89]:
b=list(a)

In [90]:
b

[0, 255, 0]

### insert

In [5]:
a=[1,3,4,5,6,7,8,9]

In [6]:
a.insert(1,2) # 1st arguement is index position, 2nd arguement is the value

In [10]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### remove

In [13]:
a=[1,3,4,5,6,7,8,9]

In [11]:
a.remove(3) # arguement is the value which you want to remove

In [12]:
a

[1, 2, 4, 5, 6, 7, 8, 9]

### index

In [14]:
a.index(9) # arguement is the value

7

In [99]:
a

[1, 4, 5, 6, 7, 8, 9]

### pop

In [15]:
a

[1, 3, 4, 5, 6, 7, 8, 9]

In [16]:
a.pop(0) # arguement is index position

1

In [17]:
a

[3, 4, 5, 6, 7, 8, 9]

### clear

In [105]:
a=[1,2,1,3]

In [106]:
a.clear()

In [107]:
a

[]

### sort

In [108]:
a=[1,2,1,3]

In [109]:
a.sort()

In [110]:
a

[1, 1, 2, 3]

In [111]:
b,c,d,e=a

In [114]:
d

2

# Tuple

In [20]:
color=(234,189,220)

In [21]:
r,g,b=color   # unpacking

In [23]:
a=(1,2)

In [24]:
type(a)

tuple

In [26]:
a=(1)
type(a)

int

In [121]:
type(a)

int

In [27]:
a=(1,)  # tuple of single item

In [28]:
type(a)

tuple

### slicing & indexing

In [126]:
marks=(90,87,78,92)

In [127]:
marks[0:2]

(90, 87)

In [128]:
marks[:-2]

(90, 87)

In [129]:
marks[::-1]   # reverse the tuple

(92, 78, 87, 90)

In [130]:
marks

(90, 87, 78, 92)

### delete

In [135]:
a=('Rohan',23,'Bangalore','Python')

In [133]:
del a

In [134]:
a

NameError: name 'a' is not defined

In [136]:
del a[2:]   # tuple is immutable

TypeError: 'tuple' object does not support item deletion

### max & min

In [137]:
rgb=(222,111,245)

In [138]:
max(rgb)

245

In [139]:
min(rgb)

111

###  sum

In [140]:
a=(2,1,6,8)

In [143]:
sum(a)

17

### sorted

In [145]:
sorted(a)

[1, 2, 6, 8]

In [146]:
a

(2, 1, 6, 8)

### convert list into tuple

In [147]:
a=[22,33,44,55]

In [148]:
tuple(a)

(22, 33, 44, 55)

### index

In [151]:
a=(1,2,3,2,4,5,2)

In [152]:
a.index(2)

1

### count

In [153]:
a.count(2)

3

### maximum occurence

In [154]:
max(a, key=a.count)

2

### membership

In [156]:
a=(1,2,3,2,4,5,2)

In [158]:
1 in a

True

In [159]:
6 in a

False

In [160]:
6 not in a

True

### concatenation

In [30]:
a=(1,2,3)
b=(4,5,6)

In [38]:
a+b

(1, 2, 3, 4, 5, 6)

In [35]:
c

(1, 2, 3, 4, 5, 6)

In [163]:
type(a+b)

tuple

# Dictionary

In [40]:
language_rank={'Python':1,'Java':2,3:'Ruby','Perl':4}

In [43]:
language_rank['Java']

2

In [44]:
language_rank[3]

'Ruby'

### dict()

In [51]:
lang_rank=(('Python',1),('Java',2),('C',3))
type(lang_rank)

tuple

In [49]:
lang_rank_dict=dict(lang_rank)

In [52]:
lang_rank_dict

{'C': 3, 'Java': 2, 'Python': 1}

### declare key more than once

In [53]:
my_dict={1:10,2:20,3:30,4:40,1:100,2:200}

In [54]:
my_dict

{1: 100, 2: 200, 3: 30, 4: 40}

### add a new key

In [174]:
language_rank['Perl']=4

In [55]:
language_rank

{3: 'Ruby', 'Java': 2, 'Perl': 4, 'Python': 1}

### delete dictionary

In [176]:
del lang_rank_dict

In [180]:
del lang_rank_dict['C']

In [181]:
lang_rank_dict

{'Java': 2, 'Python': 1}

### in built methods

In [183]:
language_rank

{3: 'Ruby', 'Java': 2, 'Perl': 4, 'Python': 1}

In [184]:
language_rank.keys()

dict_keys(['Python', 'Java', 3, 'Perl'])

In [56]:
type(language_rank.keys())

dict_keys

In [186]:
language_rank.values()

dict_values([1, 2, 'Ruby', 4])

In [58]:
language_rank.items()

dict_items([('Python', 1), ('Java', 2), (3, 'Ruby'), ('Perl', 4)])

In [190]:
a=language_rank.items()

In [191]:
tuple(a)

(('Python', 1), ('Java', 2), (3, 'Ruby'), ('Perl', 4))

In [200]:
language_rank

{3: 'Ruby', 'Java': 2, 'Perl': 4, 'Python': 1}

In [193]:
language_rank.get('Python')

1

In [204]:
language_rank.get('Java','Python')

2

In [205]:
language_rank.get('C',5)

5

In [206]:
language_rank

{3: 'Ruby', 'Java': 2, 'Perl': 4, 'Python': 1}

In [207]:
language_rank.pop('Perl')

4

In [208]:
language_rank

{3: 'Ruby', 'Java': 2, 'Python': 1}

# Sets

In [1]:
d=set()

In [2]:
type(d)

set

In [5]:
a=set([1,2,3])

In [6]:
a

{1, 2, 3}

In [7]:
type(a)

set

### discard an item in set

In [8]:
a={1,2,3,4,5,1,2,7}

In [9]:
a

{1, 2, 3, 4, 5, 7}

In [10]:
a.discard(2)

In [11]:
a

{1, 3, 4, 5, 7}

In [16]:
a.discard(8)

### remove

In [13]:
a={1,2,3,4,5,1,2,7}

In [14]:
a.remove(2)

In [15]:
a

{1, 3, 4, 5, 7}

In [17]:
a.remove(8)

KeyError: 8

### update

In [27]:
num={1,3,2,5,2,6,3,1,7}

In [28]:
num.update({88,43,21},[11,22])  # arguement should be iterable

In [29]:
num

{1, 2, 3, 5, 6, 7, 11, 21, 22, 43, 88}

min, max, sum, sorted functions similar like they are for lists, tuples

### set methods

In [31]:
# union
set1,set2,set3={1,2,3},{3,4,5},{5,6,7}
set1.union(set2, set3)

{1, 2, 3, 4, 5, 6, 7}

In [32]:
# intersection
set1.intersection(set2)

{3}

In [33]:
# difference
set1.difference(set2)

{1, 2}

### membership

In [34]:
set1={1,2,3,'a'}

In [35]:
'a' in set1

True

In [36]:
8 in set1

False

## Frozen Set

A frozen set is immuatable unlike set.

In [39]:
frozenset({1,2,3})  # set as an arguement

frozenset({1, 2, 3})

In [42]:
frozenset([1,2,3]) # list as an arguement

frozenset({1, 2, 3})

In [43]:
frozenset([1,2,3],{5,6,7})

TypeError: frozenset expected at most 1 arguments, got 2

In [44]:
# a set can’t be used a key for a dictionary, but a frozenset can.
dict1={{1,2,3}:'City','Bangalore':'Urban'}

TypeError: unhashable type: 'set'

In [45]:
dict1={[1,2,3]:'City','Bangalore':'Urban'}

TypeError: unhashable type: 'list'

In [46]:
dict1={frozenset({1,2,3}):'City','Bangalore':'Urban'}

In [47]:
dict1

{'Bangalore': 'Urban', frozenset({1, 2, 3}): 'City'}

In [48]:
dict1[frozenset({1,2,3})]

'City'

## range() function

The range() function is an inbuilt function in Python. It is used as a list of numbers in the given range.

In [3]:
range(3)

range(0, 3)

In [4]:
type(range(3))

range

In [59]:
# convert it into list
# one parameter
list(range(3))

[0, 1, 2]

In [60]:
# two parameter
list(range(2,9))

[2, 3, 4, 5, 6, 7, 8]

In [7]:
list(range(-3,2))

[-3, -2, -1, 0, 1]

In [61]:
# three parameters
list(range(3,9,2))

[3, 5, 7]